body {
  font-family: Arial;
  background-color: rgb(25, 25, 25);
  color: white;
}

.heading {
  font-weight: bold;
  font-size: 30px;
}

img {
  height: 45px;
  /* margin-bottom: 60px; */
  cursor: pointer;
}

.game-button {
  height: 120px;
  width: 120px;
  border-style: solid;
  border-width: 3px;
  border-color: white;
  border-radius: 60px;
  background-color: transparent;
  margin-right: 10px;
  margin-bottom: 60px;
  cursor: pointer;
}

.reset-button,
.autoplay-button {
  margin-top: 8px;
  border: none;
  padding: 9px 12px;
  cursor: pointer;
}

.score{
  font-size: 15px;
  font-weight: normal;
}

/* .result {
  font-weight: bold;
  font-size: 25px;
} */
