.btn {
  background-color: rgb(240, 240, 240);
  color: black;
  border: none;
  padding: 8px 12px;
  border-radius: 3px;
  font-size: 13px;
  font-weight: 600;
  cursor: pointer;
}

.is-toggled {
  background-color: black;
  color: white;
}
